
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.photo-grid {
  max-width: 1100px;
  display: flex;
  justify-content: center;    /* Change this */
  flex-wrap: wrap;
}